### ASSOCIATION RULES

#### Import Required Libraries

In [1]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

#### Import and Read Data

In [2]:
df = pd.read_csv("Market_Basket_Optimisation.csv",header=None)
df.shape

(7501, 20)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [5]:
transaction = df.fillna('')
transaction = transaction.values.tolist()

In [6]:
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)

In [7]:
te_ary

array([[False, False,  True, ...,  True, False, False],
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False],
       ...,
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False,  True, False]])

In [8]:
df = pd.DataFrame(te_ary, columns = te.columns_)

In [9]:
df

,,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,True,True,False,True,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [10]:
frequent_itemset = apriori(df, min_support=0.1,use_colnames=True)
frequent_itemset

     support           itemsets
0   0.999867                 ()
1   0.163845        (chocolate)
2   0.179709             (eggs)
3   0.170911     (french fries)
4   0.132116        (green tea)
5   0.129583             (milk)
6   0.238368    (mineral water)
7   0.174110        (spaghetti)
8   0.163845      (, chocolate)
9   0.179709           (, eggs)
10  0.170911   (, french fries)
11  0.131982      (, green tea)
12  0.129583           (, milk)
13  0.238235  (, mineral water)
14  0.174110      (, spaghetti)

#### Association Rule Mining

In [16]:
rule = association_rules(frequent_itemset, metric="confidence", min_threshold=0.7)

In [17]:
rule

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(chocolate),(),0.163845,0.999867,0.163845,1.000000,1.000133,0.000022,inf,0.000159
1,(eggs),(),0.179709,0.999867,0.179709,1.000000,1.000133,0.000024,inf,0.000163
2,(french fries),(),0.170911,0.999867,0.170911,1.000000,1.000133,0.000023,inf,0.000161
3,(green tea),(),0.132116,0.999867,0.131982,0.998991,0.999124,-0.000116,0.132116,-0.001009
4,(milk),(),0.129583,0.999867,0.129583,1.000000,1.000133,0.000017,inf,0.000153
5,(mineral water),(),0.238368,0.999867,0.238235,0.999441,0.999574,-0.000102,0.238368,-0.000559
6,(spaghetti),(),0.174110,0.999867,0.174110,1.000000,1.000133,0.000023,inf,0.000161